<html>

<head>
    <title>Ecomm website</title>
</head>

<body>
    <div class="nav">
        <div class="nav_buttons">
            <ul>
                <li>
                    <a routerLink="home">E-COMM</a>
                </li>
                <li>
                    <a routerLink="home">HOME</a>
                </li>
                <li>
                    <a routerLink="#">ABOUT</a>
                </li>
                <li>
                    <a routerLink="login">LOGIN</a>
                </li>
                <li>
                    <a routerLink="seller">SELLER</a>
                </li>
            </ul>
        </div>
        <div class="nav_search">
            <input type="text" placeholder="Search">
            <button type="submit">Search</button>
        </div>
    </div>
</body>

</html>